:root {
    --deep-red: #d90429;
    --red: #ef233c;
    --white: #edf2f4;
    --gray: #8d99ae;
    --dark-gray: #2b2d42;
}

@font-face {
    font-family: "Poppins";
    src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(./Poppins/Poppins-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: var(--dark-gray);
    color: var(--red);

    font-family: "Poppins-Bold", sans-serif;
    font-size: 32px;
    text-align: center;
}